@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';
@import 'libs/fonts';
@import "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox.css";
@import "../../node_modules/@fancyapps/ui/dist/carousel/carousel.css";
@import "../../node_modules/@fancyapps/ui/dist/carousel/carousel.autoplay.css";
@import "../../node_modules/simplebar/dist/simplebar.css";


@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';

@import 'base/default';
@import 'base/btn';
@import 'base/text';
@import 'base/bg';
@import 'base/modal';
@import 'base/simplebar';

@import 'base/form';


* {
    font-family: var(--text-font);
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.title {
    font-family: var(--title-font);
    font-weight: 400;
}
.condensed {
    font-family: var(--condensed-font);
    //font-weight: 400;
    letter-spacing: .3em;
}

:root {
  --main-color: #d02323;
  --main-color-hover: #d09858;
  --main-color-light: #ff5151;

  --main-white: #fff;
  --grey-bg-light: #141a1c;
  --grey-bg-dark: #0c1315;
  --grey-bg-dark-9: rgba(5, 8, 8, 0.9);
  --grey-bg-dark-7: rgba(5, 8, 8, 0.7);
  --grey-bg-dark-5: rgba(5, 8, 8, 0.5);

  --white-text: #d0d0d0;
  --white-text-dark: #a6a6a6;

  --border-light-color: #989898;
  --border-dark-color: #404a55;
  --border-deepdark-color: #272d34;

  --h1-fz: 63px;
  --h2-fz: 43px;
  --h3-fz: 13px;
  --h4-fz: 22.5px;
  --text-fz: 16.5px;
  --upc-text-fz: 13px;

  --height-header: 85px;

  --title-font: 'Golos Text', sans-serif;
  --condensed-font: 'Roboto Condensed', sans-serif;
  --text-font: 'Roboto', sans-serif;

  --border-light: 1px solid var(--border-light-color);
  --border-dark: 1px solid var(--border-dark-color);
  --border-deepdark: 1px solid var(--border-deepdark-color);

  --trns: all .45s;

  --gap-30: 30px;
  --gap-40: 40px;
  --gap-50: 50px;
  --gap-70: 70px;
}

a {
  text-decoration: none;
  transition: var(--trns);
  color: inherit;
  font-family: inherit;
  &:hover {
    //color: currentColor;
  }
}

p {
  margin-bottom: 0;
}

body {
  background-color: var(--grey-bg-light);

  &.frozen {
    overflow: hidden;
  }
}

.container {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

.divider {
    color: var(--border-dark-color);
}

.desktop-hidden {
  display: none;
}

.word-wrap {
  word-wrap: break-word;
  hyphens: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grey-bg-dark-7);
  z-index: 21;
  animation: fadeIn .25s ease-in-out;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@import 'blocks/header';
@import 'blocks/menu';

@import 'blocks/promo';
@import 'blocks/catalog';
@import 'blocks/about';
@import 'blocks/benefits';
@import 'blocks/steps';
@import 'blocks/contact-form';


@import 'blocks/promo-page';
@import 'blocks/auto-card';

@import 'blocks/footer';

@import 'media/media';
