.catalog {
    &__header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__descr {
        padding: 15px 0 0 110px;
    }
    &__tel {
        transition: var(--trns);
    }
    &__consult {
        display: flex;
        align-items: center;
        svg {
            width: 45px;
            height: 45px;
            fill: var(--main-color);
            margin-right: 15px;
        }

        &:hover {
            .catalog__tel {
                transform: translateX(5px);
                color: var(--main-color-light);
            }
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: var(--gap-40);
        row-gap: calc(var(--gap-40) * 2);
    }
    &__img {
        width: 100%;
        //padding-bottom: 100%;
        padding-bottom: 75%;
        position: relative;
        display: block;
        overflow: hidden;

        img {
            //width: 100%;
            //height: 100%;
            //object-fit: cover;

            height: 100%;
            width: 100%;

            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        a {
            display: block;
        }
    }

    &__about {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        opacity: 0;
        align-items: center;
        justify-content: center;
        background-color: var(--grey-bg-dark-9);
        border: var(--border-dark);
        z-index: 2;
        transition: var(--trns);

        padding: 30px;
        


    }

    &__sold {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__sold-text {
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
        transition: var(--trns);
    }

    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            font-weight: 600;
            pointer-events: none;
        }


        .new, .order, .used {
            padding: 6px 10px;
            background-color: transparent;
            font-weight: 300;
            font-family: 'Roboto Condensed';
            letter-spacing: .1em;
            font-size: 13px;
            text-transform: uppercase;
            line-height: 10px;

            opacity: .7;
        }

        .new {
            border: 1px solid var(--main-color-hover);
            color: var(--main-color-hover);
        }

        .order {
            border: 1px solid var(--main-color-light);
            color: var(--main-color-light);
        }

        .used {
            border: 1px solid var(--border-light-color);
            color: var(--border-light-color);
        }
    }

    &__item {
        transition: var(--trns);
        display: none;
        //position: relative;

        &.nextstop ~ .catalog__item {
            display: none;
        }  
        &:hover {
            .catalog__about {
                opacity: 100%;
            }
            
            .catalog__sold-text {
                opacity: 0;
            }
        }

        &.active {
            display: block;
            animation: fadeIn .6s;
        }
    }


    &__tab-content {
        display: none;
        transition: var(--trns);
        &.active {
            display: block;
            animation: fadeIn .8s;
        }
    }
    &__tabs {
        display: flex;
        align-items: center;
        justify-content: flex-start;    
        border-bottom: var(--border-deepdark);    
    }
    &__tab {
        padding: 17px 30px;
        color: var(--white-text-dark);
        text-transform: uppercase;
        cursor: pointer;
        transition: var(--trns);
        border-bottom: 1px solid transparent;


        &.active {
            color: var(--white-text);
            border-bottom: 1px solid var(--main-color);
        }

        &:hover {
            color: var(--main-color-hover);
            border-bottom: 1px solid var(--main-color-hover);
        }
    }


}